<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593158168216-mq1a2kl90uk8i2tegk3ng49v8us31n5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593158168216-mq1a2kl90uk8i2tegk3ng49v8us31n5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDK2ks4GY3dUwBccI1uqgeIVll2dYBCb0E</string>
	<key>GCM_SENDER_ID</key>
	<string>593158168216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seesooq.opensooq</string>
	<key>PROJECT_ID</key>
	<string>seesooq-98502</string>
	<key>STORAGE_BUCKET</key>
	<string>seesooq-98502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593158168216:ios:86e5585456dbece8fb7aed</string>
</dict>
</plist>